.card {
  height: 400px;
  width: 350px;
  background: #B98389;
  margin: 10px;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.image-container {
  height: 70%;
  width: 100%;
  background-size: cover;
  background-position: center;
}