.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  
  h2 {
    font-family: "Happy Monkey";
    font-weight: bold;
    font-size: 3rem;
    color: #B98389;
  }
}