.landing {
  height: 200px;
  width: 400px;
  background: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 10px 10px 10px #252323;

  h1 {
    font-family: 'Happy Monkey';
    font-size: 4rem;
    color: #B98389;
    text-shadow: 2px 3px 6px #252323;
  }

  p {
    text-align: right;
  }

  select {
    text-align: right;
    width: 75%;
    align-self: flex-end;
  }
}

// .hurricane-image {
//   background-image: url('./images/hurricane.svg');
//   // background-size: contain;
//   height: 3rem;
//   width: 3rem;
//   // background: chartreuse;
// }