.four-oh-four {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;

  h1 {
    color: #fff;
    font-size: 2.5em;
  }

  a {
    display: block;
    color: #fff;
    font-size: 1.5em;
  }
}